body {
    cursor: url(https://github.com/PHS-Galaxy/PHS-Galaxy.github.io/blob/main/images/cursor.png?raw=true), auto;
}

button:hover {
  cursor: url(https://github.com/PHS-Galaxy/PHS-Galaxy.github.io/blob/main/images/cursor.png?raw=true), pointer;
}
