body {
    cursor: url(https://raw.githubusercontent.com/PHS-Galaxy/PHS-Galaxy.github.io/main/images/cursor.png), auto;
}

button:hover {
  cursor: url(https://raw.githubusercontent.com/PHS-Galaxy/PHS-Galaxy.github.io/main/images/cursor.png), pointer;
}
